#Section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 30px ;
    padding: 1rem 0;
}

.topBar, .bottomBar{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    /* border: 2px solid black; */
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;    
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 100%;
    width: 45%;
    margin: 0.5rem;
}
.image img{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
    border-radius: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    /* border: 2px solid black; */
    height: auto;
    width: 45%;
    margin: 0.5rem;
}
.text h3{
    align-self: flex-start;
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 32px;
    text-align: left;
    color: #E48C57;
}
.text h4{
    align-self: flex-start;
    padding: 0.4rem 0.8rem;
    margin: 0.4rem 0.8rem;
    font-size: 26px;
    text-align: left;
    color: #E48C57;
}
.sdgImages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100px;
    width: 100%;
    margin: 10px;
    /* border: 2px solid black; */
}


