#Section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 30px ;
    padding: 1rem 0;
}

.topBar, .bottomBar{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    /* border: 2px solid black; */
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;    
    /* border: 2px solid black; */
    border-radius: 10px;
    height: 100%;
    width: 45%;
    margin: 0.5rem;
}
.image img{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
    border-radius: 1rem;
    object-fit:cover;
    aspect-ratio: 600 / 700;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    /* border: 2px solid black; */
    height: auto;
    width: 45%;
    margin: 0.5rem;
}
/* .text h3{
    align-self: flex-start;
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 32px;
    text-align: left;
    color: #E48C57;
} */
.text h4{
    align-self: flex-start;
    padding: 0.4rem 0.8rem;
    margin: 0.4rem 0.8rem;
    font-size: 26px;
    font-family: 'poppins';
    font-weight: 500;
    text-align: left;
    color: #E48C57;
}
.sdgImages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100px;
    width: 100%;
    margin: 10px;
    /* border: 2px solid black; */
}


/* taking standard tablet size as 1024 width */
/* Assuming landscape view of the tablet */

@media screen and (max-width: 1024px){

    .topBar{
        /* flex-direction: column-reverse; */
    }
    .S3-img1{
        /* position: sticky;
        top: 1.5rem; */
    }
    .S3-img2{
        /* position: sticky;
        top: 1.5rem; */

    }
}
@media screen and (max-width: 768px){

    #Section3{
        gap: 0px;
    }

    .topBar{
        flex-direction: column-reverse; 
        align-items: center;
    }
    .bottomBar{
        flex-direction: column;
        align-items:center;
        justify-content: start;
    }
    .text, .image{
        width: 95%;
    }
    .image{
        height: 95%;
        width: 95%;
        padding: 0.5rem;
    }
    /* .image img{
        max-height: 500px;
        max-width: 400px;
    } */
}

