.Section{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: 600;
    color: black;

    height: 100vh;
    width: 100%;
    border-bottom: 3px solid black;
    background-color: white;

    margin: 0px;
    padding: 0px;
}

.Section p{
    font-family: 'inter';
    font-size: 1rem;
    font-weight: 500;
    color: #3D4E48;
    line-height: 1.3rem;
    text-align: justify;

    width: 90%;
    padding: 0.4rem;
    margin: 0.4rem;

}

.text h3{
    align-self: flex-start;
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2rem;
    text-align: left;
    color: #E48C57;
}

.sdgImages img{
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    margin: 1rem;
}


@media screen and (max-width: 425px) {
    .Section p{
        font-size: 0.9rem;
    }
    .text h3{
        font-size: 1.5rem;
    }

}